@charset "UTF-8";

*
{

    margin: 0;
    padding: 0;

}

body 
{

    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(14, 12, 12);

}

header
{

    height: 150px;
    width: 100%;
    background-color: #FBFBFB;
    display: flex;    

}

span
{

  margin-top: 2%;
  margin-right: 40%;
  width: 100%;

}

nav
{

    width: 100%;
    height: 32px;
    background-color: #c7c7c7;

}

h1
{

    font-size: 1.5rem;

}

h2
{

    font-size: 1.2rem;

}

h1.titles
{

    font-size: 1.8rem;
    color: white;

}

h3.titles
{

    font-size: 1.3rem;
    color: white;

}


p#photo
{

    color: white;
    font: bolder;
    text-shadow: 3px 3px 3px black;
    font-size: 1.2rem;
    margin-top: 2%;

}

a.photo
{

    color: white;

}

a.photo:hover
{

    color: red;

}

div.logo
{

    width: 50%;
    margin: 0% 3%;
    padding-top: 2%;    

}

img#logo
{

    height: 80px;           

}

div#title
{

    text-align: center;
    margin-top: 2%;

}

.titles
{

    padding-top: 1%;

}

div#jackson
{

    display: flex;
    margin-left: 3%;  
    padding-top: 1%;  
    
}

div#number_jackson
{

    display: flex;

}

div#leonardo
{

    display: flex;
    margin-left: 3%;
    margin-top: 1%;

}

h4.informations
{

    padding-left: 1%;
    font-size: 1rem;    

}

h4.informations_number
{

    padding-left: 1.7%;

}

h4.teacher_one
{

    margin-left: 55%;

}

h4.teacher_two
{

    margin-left: 55.1%;

}

div#server
{

    width: 40%;
    height: 280px;
    margin: auto;
    margin-top: 2%;
    padding-top: 1.2%;
    border-radius: 5%;
    background-color: #FBFBFB;
    
}

p.server_paragrath
{

    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: 0.1%;
    padding-top: 0.8%;
    /*margin-left: 15%;*/
   

}

img#php
{

    height: 25px;    
   

}


img#ruby 
{

    height: 80px; 
    margin-top: 3%;    

}

img#cgi
{

    height: 20px; 
    margin-bottom: 0.2%;   

}

img#python
{

    height: 25px;
    

}

img#ssl
{

    height: 25px;
    

}

img#home
{

    height: 22px;
    margin-top: 0.5%;

}

img#web_mail
{

    height: 25px;

}

footer
{

    margin-top: 3%;
    width: 100%;
    height: 89px;    
    color: black;
    background-color: #FBFBFB;

}

img:hover
{

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

a
{

    margin-left: 2%;    

}


